<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836476560075-gcpugf8hp64un4m7tv3da2gbvgdijo63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836476560075-gcpugf8hp64un4m7tv3da2gbvgdijo63</string>
	<key>API_KEY</key>
	<string>AIzaSyAsBaevqZda8kSMaax-uvqwagdgcMcM2zU</string>
	<key>GCM_SENDER_ID</key>
	<string>836476560075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>mobileproject-2a19d</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileproject-2a19d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836476560075:ios:fbb0f846997c7e4f85314e</string>
	<key>DATABASE_URL</key>
	<string>https://mobileproject-2a19d.firebaseio.com</string>
</dict>
</plist>